*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    
}
body{
    background-color:  #cccccc;;
}

/* Header */

.header-wrapper{
    
    display: flex;
    width: 100vw;
    height: 116px;
    background-color: #5c5c5c;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    
    
}
.logo h1{
    display: flex;
    
    font-size: 64px;
    font-weight: 700;
    font-family: 'Dancing Script';
    color:#cc6633;
}
.menu-desktop ul{
    display: flex;
    flex-direction: row;
    
}
.menu-desktop ul li {
    display: flex;
    flex-direction: row;
    padding-right: 3rem;
    
}
.menu-desktop ul i{
    padding-right: 15px;
}
.menu-desktop ul li:hover {
    color: #cc6633;
    cursor: pointer;
    
}

.dropdown-contents{
        display: none;
        position: absolute ;
        background-color: #5c5c5c;
        width: 100px;
        height:auto;
        z-index: 1;
        padding:20px ;
        margin-left: -2%;
        border-radius: 15px;
        margin-top: 17px;
        color: #fff;
        


}
.dropdown-contents ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dropdown-contents ul li{
    padding: 0;
    padding-bottom: 15px;
    font-size: 20px;
}
.produtos:hover .dropdown-contents{
    display: block;
}

/* banner */

.banner{
    width: 100vw;
    height: 100vh;
   
   
    
}
.banner img{
   
    
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

/* Section de marcas */

.marcas-wrapper{
    
    width: 80%;
    height: 450px;
    margin: 0 auto;
    margin-top: 250px;
    border-top:1px solid black ;
    margin-bottom: 50px;
}
.marcas-title h2{
    
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding-top: 50px;
}
.marcas-list ul{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.marcas-list ul li{
    text-align: center;
    padding-top: 25px;
    
}
.marcas-list ul li:hover{

    transform: scale(1.1);
    box-shadow:  0 10px  9px  #cc6633;
}
.marcas-list ul h4{
    font-size: 30px;
    padding-top: 25px;
    font-weight: 700;

}
/* section carrossel */


.carrossel-mais-vendidos{
    
    width: 80%;
    margin: 0 auto;
    
    
}
.carrossel-title{
    display: flex;
    justify-content: center;
    border-top:1px solid black ;
    width: 80%;
    margin: 0 auto;
    
}
.carrossel-title h4{
    font-size: 30px;
    font-weight: 700;
    padding: 100px 0;
}

.carrossel-mais-vendidos img{
    padding-left: 22%;
}

.carrossel-mais-vendidos p{
    text-align: center;
    font-size:20px ;
    padding: 15px 0;
}
.carrossel-nav{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.carrossel-mais-vendidos a{
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 22px;
    background-color: #fff;
    color: black;
    margin: 15px 125px;
    height: 40px;
    border: 1px solid  #cc6633;
    border-radius:25px;

}
.carrossel-mais-vendidos a:hover{
    color: #fff;
    background-color: #cc6633;
}
.prev{
    padding-right: 75px;
}
.prev:hover{
    transform: scale(1.2);
}
.next{
    padding-left: 75px;
}
.next:hover{
    transform: scale(1.2);
}

  /* Footer */

.footer-wrapper{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 150px;
    

}
.sociais{
    display: flex;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right:1px solid black ;
    
}
.sociais p{
    padding: 25px;
    font-size: 20px;
    font-weight: 700;
}
.icones-sociais ul{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    justify-items: center;
    padding: 30px;

}
.icones-sociais ul li i{
    font-size:3rem;
}
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.newsletter img{
    width: 300px;
    height: auto;
}
.newsletter h4{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 30px;
}
.newsletter p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}
#dataForm  {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.input-form{
    width: 600px;
    padding: 20px;
    margin: 15px 0;
    font-size: 20px;
    border-radius: 50px;
   
}
.input-enviar{
    
    width: 300px;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
}
.input-enviar:hover{
    background-color: #63949e;
    color: #fff;
    transform: scale(1.1);
    
    
}

/* Responsive section */

@media  screen and (max-width:560px){

    /* Header */
    .header-wrapper{
    
        display: flex;
        width: 100vw;
        height: 116px;
        background-color: #5c5c5c;
        justify-content: center;
        align-items: center;
        color:#fff;
        
        
    }
    .logo h1{
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 40px;
        font-weight: 700;
        font-family: 'Dancing Script';
        color:#cc6633;
    }
    .menu ul{
        display: none;
        flex-direction: column ;
        
    }
    .menu-desktop{
        display: none;
    }

    /* Banner */

    .banner img{
        object-fit:contain;
        
    }

    /* Section marcas */

    .marcas-wrapper{
    
        width: 80%;
        height: 300px;
        margin: 0 auto;
        margin-top: 150px;
        margin-bottom: 30px;
        border: none;
    }
    .marcas-title h2{
        
        text-align: center;
        font-size: 36px;
        font-weight: bold;
    }
    .marcas-list ul {
        display: block;
        height: 300px;
        padding-top: 50px;
    }
    .marcas-list ul li{
        display: block;
        height: 150px;
        padding-top: 30px;
        padding-bottom: 70px;
    }

    /* Section carrossel de produtos */

    .carrossel-title h4{
        font-size: 30px;
        font-weight: 700;
        padding: 100px 0;
    }
    .carrossel-title{
        padding-top:600px;
        border: none;
    }
    .carrossel-mais-vendidos{
        width: 100vw;
        height: 500px;
    
      
    }
    
    .carrossel-mais-vendidos p{
        text-align: center;
        font-size:26px ;
        padding: 15px 0;
    }

/* footer section */

    .footer-wrapper{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 50%;
    
        margin-top: 150px;
        padding-bottom: 150px;
    }
    .input-form{
        width: 250px;
        padding: 20px;
        margin: 15px 0;
        font-size: 20px;
        border-radius: 50px;
       
    }
    .newsletter{
        padding-bottom: 100px;
        
    }
    .sociais{
        border-right: none;
        border-top:1px solid black ;
    }
    .banner{
        margin-top: 150px;
        height: min-content;
    }
}

